.main-container{
    margin: 0px auto;
    width: 900px;
}
.soundplayer{
    width: 900px;
    height: 171px;
}
#positiveHeader p{
    background-color: #AAFFAA;
}
#negativeHeader p{
    background-color: #FFAAAA;
}
.judgeTop, .judgeTop div, .judgeArea, .judgeArea ul{
    margin: 0px auto;
    text-align: center;
    display: inline-block;
    //white-space: nowrap;
}
.judgeArea{
    margin-top: 5px;
}
.columnHeader p{
    width: 260px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    margin: auto;
}
p{
    white-space: normal;
}
.judgeInstructions{
    margin: 0px auto;
}
.judgeInstructions p, .unassigned ul{
    width: 230px;
    margin: 0px auto;
    text-align: center;
}
ul{
    list-style-type: none;
}
.assigned,.unassigned {
    margin: 0px;
    height: 500px;
}

.attribute{
    padding: 10px;
}
.assigned{
    margin: 0px;
    width: 300px;
    border-radius:25px;
    background-color: #CCCCD8;
}
.attribute p{
    width: 120px;
    padding: 5px 0px;
    margin: 0px auto;
    text-align: center;
    border-radius:25px;
    background-color: #DDDDDD;
    box-shadow: 5px 5px 5px #888888;
}
*[draggable=true] {
  -moz-user-select:none;
  -khtml-user-drag: element;
  cursor: move;
}

.attStats, .clickVote{
    display: none;
}
li:hover .visible{
    display: inline-block;
}

.clickVote{
    margin: auto;
    text-align: center;
}
.clickVote a{
    cursor: pointer;
}
.clickVote i{
    margin: 0px 10px;
}
.clickVote a:hover i{
    background-color: #EEEEFF;
}
.assigned li:hover p.attStats, .clickVote:hover{
    display: block;
    width: 120px;
    text-align: center;
    border-radius:25px;
    background-color: #DDDDDD;
    box-shadow: 5px 5px 5px #888888;
}
.assigned li:hover p.attName{
    display: none;
}
.buttonArea{
    margin-top: -40px;
}
#submitBtn{
    display: none;
}
.unassigned .icon-remove {
    visibility: hidden;
}
.assigned .icon-remove{
    visibility: visible;
}
.assigned li:hover p.invisiblehover, .unassigned li:hover p.invisiblehover{
    display: none;
}
.assigned li p.locked{
    background-color: #CCCCCC;
    box-shadow: 2px 2px 2px #888888;
}
.sound_navigation{
    width: 100%;
}
.leftarrow{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.rightarrow{
    position: absolute;
    right: 20px;
    bottom: 20px;
}
.share-container{
    margin: 35px 0px 0px 20px;
    text-align: left;
}