html, body {
    width: 100%;
    height: 100%;
}
body {
    padding-top: 50px;
}
ul {
    list-style-type: none;
}

.navbar-default {
    background-color: #261D1D;
    border-color: #555;
}
.navbar-default .navbar-nav>li>a {
    color: #999;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
}
.navbar-nav {
    float: left;
    margin: 0;
}
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar .dropdown-menu {
    text-align: center;
}
.navbar .dropdown-menu li {
    margin: 5px 0;
}
.navbar .dropdown-menu li img {
    cursor: pointer;
}
.navbar .dropdown-menu li a {
    font-size: 12px;
}
.pull-right {
    float: right;
}
nav ul.nav.pull-right {
    margin-right: 10px;
}
.navbar .btn-default, .navbar .btn-default:hover, .navbar .form-control{
    border-color: #3D697F;

}
.navbar .input-group-btn > button {
    border-left: none;
    background-color: #6398E8;
}
.navbar .input-group-btn > button:hover, .navbar .btn-default:hover{
    background-color: #6398E8;
}

.main-container {
    display: block;
    overflow: hidden;
    width: auto;
}

.soundplayer {
    margin: 15px;
    margin-bottom: 5px;
}
.main-container .cta {
    margin-left: 15px;
    margin-right: 30px;
}
.main-container .cta p:last-child {
    color: #9B7323;
    border-bottom: 1px solid #6398E8;
}
.attribute {
    width: 46%;
    display: inline-block;
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 6px;
}
@media (max-width: 830px) {
    .attribute {
        width: 94%;
    }
}
.attribute > h2 {
    position: relative;
    line-height: 35px;
    font-size: 26px;
    margin: 0 0 5px;
    cursor: pointer;
    color: #261D1D;
    border-bottom: 1px solid #261D1D;
    padding-left: 3px;
}
.attribute > h2:before {
    content: " ";
    position: absolute;
    left: -9px;
    top: 13px;
    border: 5px solid transparent;
    border-left-color: #777;
}
.attribute > h2:hover:before {
    border-left-color: #6398E8;
}
.attribute > h2:hover {
    color: #6398E8;
}
.attribute > h2 .glyphicon {
    color: #261D1D;
    font-size: 14px;
    margin-top: -6px;
    vertical-align: middle;
}
.attribute .voting .vote {
    cursor: pointer;
    display: inline-block;
    margin: 0px 4px;
    min-width: 30px;
    height: 30px;
    background-color: #f1f1f1;
}
.rated .voting .vote {
    min-width: 30px;
    width: auto;
    background-color: #e3e3e3;
}
.attribute .voting .vote .glyphicon {
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    margin-left: 6px;
}
.attribute .voting .count {
    display: inline-block;
    overflow: hidden;
    transition: max-width 0.4s;
    -webkit-transition: max-width 0.4s;
    max-width: 0px;
}
.rated .voting .count {
    max-width: 70px;
    font-size: 18px;
    margin: 0 4px;
    line-height: 30px;
}


.negative .voting .positive, .positive .voting .negative {
    opacity: 0.4;
}
.negative .voting .positive:hover, .positive .voting .negative:hover {
    opacity: 1;
}
.attribute .voting .positive:hover .glyphicon, .positive .voting .positive .glyphicon {
    color: #6398E8;
}
.attribute .voting .negative:hover .glyphicon, .negative .voting .negative .glyphicon {
    color: rgb(217,87,76);
}

aside {
    overflow: auto;
    float: left;
    display: inline-block;
    height: 100%;
    width: 1%;
    min-width: 60px;
    max-width: 150px;
    transition: width 1s;
    -webkit-transition: width 1s;
    background: #eae9ea;
    border-right: 1px solid #555;
}
aside:hover {
    width: 25%;
    max-width: 150px;
}

.more-tracks .tracks-container .track{
    display: inline-block;
    max-width: 150px;
    width: 100%;
    height: auto;
    min-width: 60%;
    padding: 4px;
    margin: auto;
    text-align: left;
    position: relative;
}
.more-tracks .track .cover-container{
    display: block;
    position: relative;
    margin: auto;
    text-align: center;
}
.more-tracks .tracks-container .track img {
    cursor: pointer;
    height: auto;
    max-width: 100%;
    border: 1px solid #261D1D;
    box-shadow: 0 0 4px 0px #261D1D;
}
.more-tracks .track span {
    display: none;
}
.more-tracks:hover .track span{
    display: block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.track .title{
    color: #261D1D;
    margin-top: 8px;
}
.track .artist{
    color: #777;
    font-size: 12px;
}
.more-tracks:hover .unheard .cover-container:after{
    content: "NEW";
}
.more-tracks:hover .ur0 .cover-container:after{
    content: "0/10";
}.more-tracks:hover .ur1 .cover-container:after{
    content: "1/10";
}.more-tracks:hover .ur2 .cover-container:after{
    content: "2/10";
}.more-tracks:hover .ur3 .cover-container:after{
    content: "3/10";
}.more-tracks:hover .ur4 .cover-container:after{
    content: "4/10";
}.more-tracks:hover .ur5 .cover-container:after{
    content: "5/10";
}.more-tracks:hover .ur6 .cover-container:after{
    content: "6/10";
}.more-tracks:hover .ur7 .cover-container:after{
    content: "7/10";
}.more-tracks:hover .ur8 .cover-container:after{
    content: "8/10";
}.more-tracks:hover .ur9 .cover-container:after{
    content: "9/10";
}
.more-tracks:hover .cover-container:after{
    font-size: 10px;
    color: white;
    position: absolute;
    bottom: -8px;
    right: -25px;
    left: 50%;
    display: inline;
    background: rgba(58,139,232,0.65);
    border-radius: 12px;
    width: 50px;
    margin-left: -25px;
    text-align: center;
}

.sharing {
    margin-left: 15px;
    margin-bottom: 15px;
    vertical-align: middle;
}
.sharing button {
    display: inline-block;
    height: 35px;
}
.sharing .facebook img {
    width: 18px;
    height: 18px;
    margin: -5px 6px;
}
.sharing .twitter img {
    width: 32px;
    height: 32px;
    margin: -4px 0;
}

#loginModal {
    text-align: center;
}