{% extends 'base.html' %}
{% block title %}Share Your Creations{% endblock %}
{% block primary %}
<div class="hero-unit">
  <h1>Develop Your Art</h1>
  <p>Get more out of sharing your music online by receiving invaluable feedback.
    With Hipstring, listeners give you more detailed information about what they like
    and don't like, allowing you to improve your works. Other sites that only feature
    "likes" or generic comments saying, "Great Job!", do little to help you know how
    to grow as an artist and musician. You can find out what others think about your music
    now by entering it below.</p>
</div>
<form class="form-inline" name="songURL" action="" method="post" accept-charset="utf-8">
  <fieldset>
    <legend>Add Your Existing SoundCloud Music to Hipstring.</legend>
    {% if error %}
    <div class="alert alert-error">
      <p><strong>Invalid URL.</strong> Please enter the entire URL of a single SoundCloud track.</p>
    </div>
    {% endif %}
    <div class="input-append">
      <input type="text" name="entry" placeholder="soundcloud.com/artist/track" id="entry" onclick="javascript:this.focus();this.select();">
      <button class="btn" type="submit" value="Enter">Enter</button>
    </div>
    <span class="help-block">Enter the URL of one of your SoundCloud sounds to get started. Or go to any track on SoundCloud and replace 'soundcloud.com' with 'hipstring.me'.</span>
  </fieldset>
</form>
{% endblock %}
