{% extends 'base.html' %}
{% block title %}Think About Your Music{% endblock %}
{% block primary %}
<div class="hero-unit">
  <h1>Thinking About Your Music</h1>
  <p>We believe that listening to music is an active process, not a passive one, an experience
  and skill that you can get better at. Hipstring helps you improve this skill, all while
  finding great new music, so that you can get more out of listening and a better understanding
  of the music. Additionally, get closer to the artists you support by providing them with
  feedback so that they can improve and you can be a part of their process and creation.
    <br>
    Click the button to start by finding a randomly selected song!</p>
  <a href="/random" class="btn btn-primary btn-large">Explore!</a>
</div>
{% endblock %}
