{% extends 'base.html' %}
{% block title %}Hipstring{% endblock %}
{% block primary %}
  <div id="home" class="main-container">
    <div class="jumbotron">
      <div class="container">
        <h1>Get feedback on your music while you need it.</h1>
        <p>Hipstring gives beginner and independent musicians the easiest way to receive feedback by encouraging listeners to come to <em>your</em> work and by guiding them to leave insightful comments.</p>
      </div>
      <a class="attribution" href="http://www.flickr.com/photos/blackbass/4531455346/in/photostream/" target="_blank">Photo by blackbass</a>
    </div>
    <div class="cta-container">
      <div class="getting-started">
        <h2>See Hipstring in action by adding one of your SoundCloud tracks below or by selecting one of the existing tracks.</h2>
        <form name="songURL" class="navbar-form" action="/create" method="post" accept-charset="utf-8" onsubmit="_gaq.push(['_trackEvent', 'Add Track', 'Home Page']);">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="soundcloud.com/artist/track" name="entry" id="entry" onclick="javascript:this.focus();this.select();">
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit">Add</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="more-tracks"><div class="tracks-container"></div></div>
  </div>
{% endblock %}
