{% extends 'base.html' %}
{% block title %}Hipstring{% endblock %}
{% block primary %}
  <div id="home" class="main-container">
    <div class="selectedSound-container">
      <div class="selectedSound">
        <div class="color-bg">
          <div class="copy hero-unit">
            <h1>Welcome, friend.</h1>
            <div class="brand">HIPSTRING</div>
            <h2>Don't be a selfish fan.</h2>
            <p>Get more out of your music by <em>thinking</em> about why you may love or hate it, all while connecting to the people behind the work by giving them the invaluable feedback they deserve.</p>
            <p class="cta">Check out one of these tracks to get started. Or, if you have your own music on SoundCloud, enter the URL for one of your tracks:</p>
            <form name="songURL" class="inline-form" action="/create" method="post" accept-charset="utf-8">
              <div class="input-append">
                <input type="text" name="entry" placeholder="soundcloud.com/artist/track" id="entry" onclick="javascript:this.focus();this.select();">
                <button class="btn" type="submit" value="Enter">Enter</button>
              </div>
            </form>
          </div>
          <div class="sharing">
            <a class="facebook">
              <img src="/static/img/facebook.png">
              Share
            </a>
            <a class="twitter">
              <img src="/static/img/twitter.png">
              Share
            </a>
          </div>
        </div>
      </div>
    </div>
  {% include 'moretracks.html' %}
  </div>
{% endblock %}
