{% extends 'base.html' %}

{% block title %}{{title}} by {{author}} on Hipstring{% endblock %}
{% block ogmeta %}
<meta property="og:title" content="{{title}}" />
<meta property="og:type" content="music.song" />
<meta property="og:url" content="http://www.hipstring.me/sc/{{songURL}}" />
<meta property="og:image" content="{{artwork}}" />
<link rel="image_src" href="{{artwork}}" />
{% endblock %}
{% block scripts %}
<script src="/static/js/songscript.js"></script>
{% endblock %}
{% block primary %}
{% include 'moretracks.html' %}
	<div class="main-container">
      <div class="soundplayer">
        <script src="http://connect.soundcloud.com/sdk.js"></script>
        <script>
          SC.initialize({
          client_id: '***REMOVED***'});
        </script>
        <div id="putTheWidgetHere"></div> 
        <script type="text/JavaScript">
          SC.oEmbed(('https:' == document.location.protocol ? 'https://' : 'http://') + "www.soundcloud.com/{{songURL}}", {color: "000066", sharing: false, auto_play: true}, document.getElementById("putTheWidgetHere"));     
        </script>
      </div>
		<div class="cta">
			<p>{{voters}} 
			{% if voters == 1 %}
				listener has 
			{% else %}
				listeners have
			{% endif %}
			provided this artist with feedback.
			{% if voters == 0 %}
				Be the first.
			{% endif %}
			</p>
			<p><strong>Break it down: </strong></p>
		</div>
		<script>
			document.votingValues = [];
			{% for p, n in votingValues %}
				document.votingValues.push([{{p}},{{n}}]);
			{% endfor %}
		</script>
		{% for i,att,titleText,vote in attributesData %}
			<div data-att="{{i}}" class="attribute{{vote}}">
				<h2>{{att}} <span class="info glyphicon glyphicon-question-sign" data-toggle="tooltip" rel="tooltip" title='{{titleText}}'></span></h2>
				<div class="voting">
					<div data-value="negative" class="vote negative">
						<span class="glyphicon glyphicon-thumbs-down"></span>
						<span class="count"></span>
					</div>
					<div data-value="positive" class="vote positive">
						<span class="glyphicon glyphicon-thumbs-up"></span>
						<span class="count"></span>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}